@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @import './tm-lib'; */
/* @import './tm-components'; */
/* @import './song'; */

body {
  /* max-width: 400px; */
  /* @apply mx-auto border-x-2; */

  /* padding-bottom: calc(5.25 * theme(spacing.4)); */
  @apply pb-[84px] /* this is equal to the line above */
  md:pb-0 md:pl-[97px]; /* pl-24 + 1px to preserve border */
}

/* .menu-wrapper,
.bottom-bar-wrapper {
  max-width: 400px !important;
}

.bottom-sheets-container {
  max-width: 400px;
  margin: 0 auto;
} */

.custom-container {
  @apply max-w-[700px] mx-auto;
}

.stretched-link {
  position: static;
  will-change: initial;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: '';
  background-color: rgba(0, 0, 0, 0);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 30;
}

strong {
  @apply font-custom-medium;
}

th, td {
  @apply align-middle;
}

.basic-content {
  a {
    @apply underline hover:no-underline;
  }

  h2,
  h3,
  h4 {
    @apply mt-6;
  }

  p {
    @apply my-3;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply uppercase;
  }
}
