@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @import './tm-lib'; */
/* @import './tm-components'; */
@import './song';

body {
  /* @apply p-7 bg-red-200; */
  max-width: 400px;
  @apply mx-auto border-x-2;
  padding-bottom: 84px;
}

.menu-wrapper {
  max-width: 400px !important;
}

.stretched-link {
  position: static;
  will-change: initial;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: '';
  background-color: rgba(0, 0, 0, 0);
}

.underline-links a {
  text-decoration: underline;
}

.underline-links a:hover {
  text-decoration: none;
}

.lilypond-container svg {
  width: 100%;
  max-width: 500px;
  height: auto;
}
